.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0px;
}

.Card-Tittle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.2px;
    color: #2C3E4F;
    margin-top: 20px;
    margin-left: 23px;
    margin-bottom: 0px;
}
.Card_Hidden{
    display: none;
}
.Card-Status {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #2C3E4F;
    margin-left: 23px;
    gap: 14px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.Card-Star {
    margin-right: 8px;
}
.Card-Main_Images {
    border-radius: 14px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
}
.Card-Swap {
    display:flex;
    justify-content: center;
    align-items: center;
}

.Card-Color_Text {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    color: #2C3E4F;

}
.Card-Color {
    margin-left: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    color: #8E969B;
}
.Card-Choise {

    margin-left: 23px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;

}
.Card-Choise-color {

    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.Card-Size {
    display: flex;
    gap: 10px;
    align-items: center;
}
.Card-Color-Size {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    color: #8E969B;
}

.Card-Color-Size_String {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    color: #2C3E4F;
}
.Card-Button{
    display: inline-block;
    padding:15px 16px 15px 16px;
    border-radius: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: none;
    background-color: #2C3E4F;
    color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    width: 50%;
}
.Card-Button-Buy{
    display: inline-block;
    padding:15px 16px 15px 16px;
    border-radius: 10px;
    border: none;
    color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    width: 50%;

    background: linear-gradient(268.87deg, #298EEB -4.73%, #4149FF 101.32%);
}

.Card-Button-Cont{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Card-Cost {

    display: block;
    padding: 0px;
    margin: 0px;
    color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;

}

.Card-Delivery {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #8E969B;

}
.Card-Date {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #298EEB

}